@import "vars.css";

@keyframes fadeIn{
  from{opacity:0}
  to{}
}


html{
  font-family:var(--base-font);
}
body{
  margin:0;
  position:relative;
}
*{
  box-sizing:border-box;
}
.up-prop{
  top:0;
  position:fixed;

}

.upload-btn{
  background: var(--color-softlinear);
  position:relative;
  width:140px;
  height:140px;
  border-radius:var(--radius-btn);
  display:inline-flex;
  align-items: center;
  justify-content: center;;
  border:0px solid var(--color-softborder);
  transition:all .2s ease-out;
}
.upload-btn:hover{
  border-width: 4px;

}
.upload-btn>main>i{
  font-size:25px;

}
.upload-btn #imgContainer{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index:2;
}

.upload-btn #imgContainer>img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  border-radius:var(--radius-btn);
}
.upload-btn #imgContainer>span{
  position: absolute;
  right:2px;
  top:2px;
  display:block;
  background:rgba(0,0,0,.2);
  color:white;
  border-radius:50%;
  padding:3px;
  transition:all .2s ease;
  cursor:pointer;
}
.upload-btn #imgContainer>span:hover{
  transform:scale3d(1.2,1.2,1.2);
}
.upload-wrapper-load{
  position: absolute;
  left:50%;
  top:50%; 
  transform:translate(-50%,-50%);
  z-index:50;
}
.upload-wrapper-load i{
  font-size:50px !important;
}

.upload-btn input{
  opacity:0;
  z-index:1;
  position:absolute;
  cursor: pointer;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


.flex{
  display:flex;
}
.flex>div:not(:last-of-type){
  margin-right:20px;
}
.flex-hor-center{
  display:flex;
  justify-content: center;
}

.flex-vertical-center{
  display:flex;
  align-items:center;
}
.flex-vertical-end{
  display:flex;
  align-items: flex-end;
}

.flex-vertical-between{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes AnSideEnter{
  from{
    transform: translate3d(-50%,0,0);
    opacity:0;
  }
  to{  }
}
.an{
  transition: all .2s ease;
}
.an-side-enter{
  animation:AnSideEnter .2s ease-in;
}
.an-side-transition{
  transition:all .3s ease;
}
.an-side-leave{
  transform:translate3d(-50%,0,0);
  opacity:0;
}
.an-fade-enter{
  animation:fadeIn .2s ease-in;
}
.an-fade-transition{
  transition:all .2s ease-out;
}
.an-fade-leave{
  opacity:0;
}

@keyframes AnRotate{
  0%{
    transform:rotate(0);
  }
  50%{
    transform:rotate(360deg);
  }
  100%{
    transform:rotate(720deg);
  }
}
.nzx-loading{
  color:var(--color-primary-light);
  font-size:20px;
}

.an-rotate{
  animation:AnRotate 2.5s linear;
  animation-iteration-count: infinite;
}

.disabled-loading{
  filter:blur(2px);
  position:relative;
}
.disabled-loading::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:transparent;
  z-index:10;
  cursor: not-allowed;
}
.transition{
  transition:all .3s ease-out;
}
.base-input{
  outline:none;
}
.base-input:focus{
  outline:none;
}

.exhibition-input-container span{
  height:50px;
  padding: 0px 10px;
  line-height:50px;
  display:inline-block;
  width:150px;
  text-overflow:ellipsis;
  border-radius:var(--radius-btn);
  transition:all .2s ease;
  cursor: text;
  overflow:hidden;
}
.exhibition-input-container span:hover{
  background:var(--color-lightbg-deep);
}

.exhibition-input-container input{
  display:none;
  height:50px;
  line-height:50px;
  width:250px;
  border-radius:var(--radius-btn);
  background:rgba(255,255,255,0.8);
  border:1px solid var(--color-softborder);
  box-sizing:border-box;
  padding:10px 20px;
  font-size:13px;
}
.exhibition-editInput-an-show-start{
  opacity:0;
  width:150px !important;
}


.exhibition-editInput-an-hide-end{
  opacity:0;
  width:150px !important;
}
.upload-alert-container{
  text-align:center;
  padding:20px 10px;
}
#icons-container{
  min-height:calc(100vh);
}
.icons-container{
  max-width:900px;
  margin:0 auto;
  background:var(--color-bg);
}
.icons-container::after{
  content:"";
  display:table;
  clear:both;
}
.icon-item{
  box-sizing: border-box;
  border:1px solid transparent;
  display:inline-block;
  width:150px;
  padding:15px;
  transition:all .3s ease-out;
  float: left;
  background:var(--color-bg);
  border-radius:var(--radius-card);
}
.icon-item:hover,.icon-item-hover{
  cursor:pointer;
  background:var(--color-lightbg);
  /* box-shadow:1px 3px 12px -3px var(--color-shadow); */
  z-index:10;
  /* transform:scale(1,1); */
}

.icon-item .icon-content{
  padding-top:1rem;
}
.icon-item .icon-content .icon-content-name{
  text-align:center;
  color: var(--icon-des);
  font-size:13px;
  overflow:hidden;
  text-overflow: ellipsis;
  padding:0 .5em;
  white-space: nowrap;
  transition:all .2s ease;
}
.icon-item:hover .icon-content-name,.icon-item-hover .icon-content-name{
  color: var(--icon-des-active);  
}
.icon-item:hover .icon-svg,.icon-item-hover .icon-svg{
  transform:scale(1.2,1.2);
}
.icon-item .icon-svg{
  text-align:center;
  color: var(--icon-color);
  padding:10px 0;
  transition:all .1s ease;
}
.icon-item .icon-svg i{
  font-size:25px;
}

.icon-article{
  
}
.icon-article-children{

}
.icon-article>label{
  padding:20px 30px;
  display:block;
  color:var(--color-font-title)
}
.icon-article>footer{
  height:40px;
  background:var(--color-lightbg);
}

.icon-article-content::after{
  content:"";
  display: table;
  clear: both;
}

@keyframes Icon-highlight-an{
  0%{
    transform:rotate(0) scale(.5,.5);
    opacity:0;
  }
  50%{
    background:var(--color-type-warn);
  }
  100%{
    transform:rotate(1080deg);
    opacity:1;
  }
}

.icon-highlight{
  animation:Icon-highlight-an 1s ease-out;
  transform: translate3d(0,0,0);
  animation-delay: .3s;
}

.search-icon{
    width:16px;
    height:16px;
  }


.icon-dialog-show{
  transform: translate3d(-50%,-50%,0);
  top:40% !important;
  left:50% !important;
}
.icon-dialog-cover{
  opacity:0.2;
}
.icon-item-hover{
  z-index:120;
}
.icon-dialog-bg{
  position:fixed;
  z-index:100;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.icon-dialog-show-secondary{
  height:300px !important;
  width:280px !important;
  background:var(--color-bg);
  box-shadow:1px 3px 16px -8px var(--color-shadow);
  border-color:var(--color-lightbg-deep);
}
.icon-dialog-show-secondary:hover{
  cursor: default;
  background:var(--color-bg);
}

.icon-dialog-leave{
  opacity:0;
}
.icon-edit-content{
  height:0;
  opacity:0;
  margin-top:20px;
  transition:all .2s ease;
  overflow-y:hidden
}
.icon-edit-content>div:not(:last-of-type){
  margin-bottom:10px;
}
.icon-dialog-show-secondary .icon-edit-content{
  height:162px;
  opacity:1;
}

.bg-error{
  text-align:center;
  background:var(--color-type-error);
  color:white;
  box-shadow:1px 2px 6px -3px var(--color-type-error);
}
.bg-outline{
  text-align:center;
  background:var(--color-bg);
  border:1px solid var(--color-lightbg-deep) !important;
  color:var(--color-font-title);
  box-shadow:1px 2px 12px -6px var(--color-font-des);
}