@font-face {
  font-family: "nzx";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  
  src: url("./nzx.woff2?name=1577356008983") format("woff2"), url("./nzx.woff?name=1577356008983") format("woff"); 
}

.na {
  display: inline-block;
  font-family: "nzx";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.na-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.na-xs {
  font-size: 0.75em;
}

.na-sm {
  font-size: 0.875em;
}

.na-1x {
  font-size: 1em;
}

.na-2x {
  font-size: 2em;
}

.na-3x {
  font-size: 3em;
}

.na-4x {
  font-size: 4em;
}

.na-5x {
  font-size: 5em;
}

.na-6x {
  font-size: 6em;
}

.na-7x {
  font-size: 7em;
}

.na-8x {
  font-size: 8em;
}

.na-9x {
  font-size: 9em;
}

.na-10x {
  font-size: 10em;
}

.na-fw {
  text-align: center;
  width: 1.25em;
}

.na-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.na-pull-left {
  float: left;
}

.na-pull-right {
  float: right;
}

.na.na-pull-left {
  margin-right: 0.3em;
}

.na.na-pull-right {
  margin-left: 0.3em;
}


.na-123::before {
  content: "\ea01";
}

.na-account::before {
  content: "\ea02";
}

.na-activity::before {
  content: "\ea03";
}

.na-add::before {
  content: "\ea04";
}

.na-agree::before {
  content: "\ea05";
}

.na-all-comment::before {
  content: "\ea06";
}

.na-back::before {
  content: "\ea07";
}

.na-back_Android1::before {
  content: "\ea08";
}

.na-city2::before {
  content: "\ea09";
}

.na-close::before {
  content: "\ea0a";
}

.na-close-border::before {
  content: "\ea0b";
}

.na-dianzan::before {
  content: "\ea0c";
}

.na-done2::before {
  content: "\ea0d";
}

.na-edit1::before {
  content: "\ea0e";
}

.na-edit2::before {
  content: "\ea0f";
}

.na-edit3::before {
  content: "\ea10";
}

.na-error2::before {
  content: "\ea11";
}

.na-fatie::before {
  content: "\ea12";
}

.na-feed::before {
  content: "\ea13";
}

.na-female::before {
  content: "\ea14";
}

.na-find-o::before {
  content: "\ea15";
}

.na-gift22::before {
  content: "\ea16";
}

.na-home::before {
  content: "\ea17";
}

.na-i-success::before {
  content: "\ea18";
}

.na-left::before {
  content: "\ea19";
}

.na-loading::before {
  content: "\ea1a";
}

.na-loadm::before {
  content: "\ea1b";
}

.na-location::before {
  content: "\ea1c";
}

.na-log::before {
  content: "\ea1d";
}

.na-logo::before {
  content: "\ea1e";
}

.na-logo.::before {
  content: "\ea1f";
}

.na-male::before {
  content: "\ea20";
}

.na-message2::before {
  content: "\ea21";
}

.na-more::before {
  content: "\ea22";
}

.na-people-o::before {
  content: "\ea23";
}

.na-person::before {
  content: "\ea24";
}

.na-person-o::before {
  content: "\ea25";
}

.na-person4::before {
  content: "\ea26";
}

.na-phone::before {
  content: "\ea27";
}

.na-phone-1::before {
  content: "\ea28";
}

.na-pinglun4::before {
  content: "\ea29";
}

.na-plus::before {
  content: "\ea2a";
}

.na-publish3::before {
  content: "\ea2b";
}

.na-right::before {
  content: "\ea2c";
}

.na-right-thin::before {
  content: "\ea2d";
}

.na-search::before {
  content: "\ea2e";
}

.na-search-key::before {
  content: "\ea2f";
}

.na-see::before {
  content: "\ea30";
}

.na-share2::before {
  content: "\ea31";
}

.na-shop::before {
  content: "\ea32";
}

.na-shop-o::before {
  content: "\ea33";
}

.na-signature::before {
  content: "\ea34";
}

.na-suo2::before {
  content: "\ea35";
}

.na-upload1::before {
  content: "\ea36";
}

.na-warn::before {
  content: "\ea37";
}

.na-account2::before {
  content: "\ea38";
}

