:root{
  --font-base:lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,MicrosoftYaHei,WenQuanYi Micro Hei,sans-serif;
  --color-primary:#04A4F9;
  --color-shadow:rgba(110,150,170,0.6);
  --color-primary-light:rgb(27, 176, 240);
  --color-primary-light2:rgba(4,164,249,.3);
  --color-secondary:red;
  --color-type-info:#128AB2;
  --color-type-info-font:#5AADC9;
  --color-type-warn:#FFD166;
  --color-type-warn-font:#B19857;
  --color-type-error:#EF476F;
  --color-type-error-font:#923B58;
  --color-type-success:#06D6A0;
  --color-type-success-font:#119278;
  --color-font:rgba(0,0,0,0.75);
  --color-font-title:rgb(120,160,180);
  --color-font-des:rgba(120,160,180, 0.7);
  --color-bg:white;
  --color-lightbg: rgb(248,248,248);
  --color-lightbg-deep: rgb(240,240,240);
  --color-softfont:rgba(0,0,0,0.7);
  --color-softbg:rgb(235,235,235);
  --color-softborder:rgb(220,220,220);
  --color-primarylinear: linear-gradient(45deg,var(--color-primary),var(--color-primary-light));
  --color-primary-disabled: #99dbfc;
  --color-softlinear: linear-gradient(45deg,var(--color-softbg),var(--color-lightbg));

  --color-list-border:rgb(230,230,230);
  --color-list-content:var(--color-font-des);
  --color-list-title:var(--color-font-title);
  /* --color-primarybglinear:linear-gradient(0deg,var(--color-primary),var(--color-primary-light)); */
  --color-primarybglinear:black;
  --radius-btn:10px;
  --radius-card:15px;
  --btn-color-bg:var(--color-primary);
  --btn-color-font:var(--color-bg);
  --btn-color-bg-hover: #2F8FF9;
  --btn-font-size:16px;
  --index-prop-bg:10;
  --shadow-prop: 0 2px 12px -3px rgba(0,0,0,0.8);

  --icon-main-color:black;
  --icon-main-des:rgba(0,0,0,0.75);
  --icon-des:rgba(100,120,150,.6);
  --icon-des-active:rgb(100,120,150);
  --icon-color:rgb(110,150,170);
  --icon-card-hover:rgba(0,0,0,0.05);
  --input-bg:var(--color-lightbg);
  --header-height:60px;
  --space-base:18px;
  --index-decorator:150;
}